//components

.c-dropdown {

  &__item {
    margin-top: 1.5vw;
    width: 100%;
  }

  &__list {
    position: absolute;
    width: 100%;
  }

  &__toggle { width: 100%; }

  &__wrapper { position: relative; }

}
