@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css";
@import "https://fonts.googleapis.com/css?family=Lobster|Raleway";

$bg: rgb(21, 21, 21) url("../master/media/background.jpg") no-repeat fixed;
$bg-input: rgba(64, 64, 64, 0.75);

@mixin offset-top($font-size) { margin-top: ($font-size * 1.4 - $font-size) / 2 * -1; } //negates line height

@mixin basic-grid($x, $y: $x) {
  display: grid;
  grid-template-columns: repeat($x, 1fr);
  grid-template-rows: repeat($y, 1fr);
}

@mixin btn-hover {
  &:not(.is-disabled) {
    &:hover {
      background-color: white;
      color: black;
      cursor: pointer;
    }
  }
}

@mixin btn-trans {
  transition-duration: 0.5s;
  transition-property: background-color, color;
}

@mixin centered {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

@mixin col($size) {
  float: left;
  min-height: 1px; //prevents collapse
  padding: 0 1.5vw;
  width: 100% * $size / 12;
}

@mixin content($width) {
  background-color: rgba(0, 0, 0, 0.75);
  margin: 4.5vw auto;
  overflow: hidden;
  padding: 3vw 4.5vw;
  width: $width;
}

@mixin font-body { font-family: "Raleway", sans-serif; }
@mixin font-head { font-family: "Lobster", cursive; }

@mixin heading($font-size) {
  @include font-head;
  font-size: $font-size;
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

@mixin input {

  background-color: $bg-input;
  border: 0;
  border-radius: 0; //normalizes webkit
  color: inherit;
  display: block;
  font-family: inherit;
  line-height: inherit;
  min-width: 0;
  padding: 0.5vw 0.75vw;

  &:focus {
    outline: 1px solid white;
    outline-offset: -1px;
  }

}

@mixin square($side) {
  height: $side;
  width: $side;
}

//global styles

* { box-sizing: border-box; }

a {
  text-decoration: none;
  &:active, &:link, &:visited { color: white; }
}

body {
  @include font-body;
  background: $bg;
  background-size: 100%;
  color: white;
  font-size: 1.6vw;
  line-height: 1.4;
  text-align: justify;
}

button {
  @include btn-trans;
  @include input;
}

h1 { @include heading(3.6vw); }
h2 { @include heading(3.2vw); }
h3 { @include heading(2.8vw); }
h4 { @include heading(2.4vw); }
h5 { @include heading(2vw); }
h6 { @include heading(1.6vw); }

hr {
  border: 0;
  border-top: 1px solid white;
  margin: 3vw 0;
}

iframe { border: 0; }

img { width: 100%; }

input {
  @include input;
  width: 100%;
}

ol, ul {
  margin: 0;
  padding-left: 4vw;
}

p { margin: 0 0 1vw; }

table {
  border-collapse: separate;
  border-spacing: 0 1.5vw;
  width: 100%;
}

td { padding: 0; }

textarea {
  @include input;
  overflow-y: scroll;
  resize: none;
  width: 100%;
}

thead { @include font-head; }

::placeholder { color: lightgray; }

::selection {
  background-color: white;
  color: black;
}

//components

.c-content {
  &--lg { @include content(75%); }
  &--md { @include content(60%); }
  &--sm { @include content(45%); }
  &--xl { @include content(91%); }
  &--xs { @include content(30%); }
}

.c-field {
  &--lg { height: 15vw; }
  &--md { height: 12vw; }
  &--sm { height: 9vw; }
  &--xl { height: 18vw; }
  &--xs { height: 6vw; }
}

.c-row {

  @include clearfix;
  margin: 0 -1.5vw;

  &__col {
    &--1 { @include col(1); }
    &--2 { @include col(2); }
    &--3 { @include col(3); }
    &--4 { @include col(4); }
    &--5 { @include col(5); }
    &--6 { @include col(6); }
    &--7 { @include col(7); }
    &--8 { @include col(8); }
    &--9 { @include col(9); }
    &--10 { @include col(10); }
    &--11 { @include col(11); }
    &--12 { @include col(12); }
  }

}

//states

.js-check-input {
  &.is-mouse {
    button { &:enabled { &:not(.u-no-hover) { @include btn-hover; } } }
    .u-hover { @include btn-hover; }
  }
}

.js-loading-state { &.is-loading { cursor: wait; } }

//utilities

.u-align-center { text-align: center; }
.u-align-left { text-align: left; }
.u-align-right { text-align: right; }

.u-clearfix { @include clearfix; }

.u-cursor-pointer { cursor: pointer; }

.u-float-left { float: left; }
.u-float-right { float: right; }

.u-font-body { @include font-body; }
.u-font-head { @include font-head; }

.u-hover { @include btn-trans; }

.u-italic { font-style: italic; }

.u-margin-full { margin-bottom: 3vw; }
.u-margin-half { margin-bottom: 1.5vw; }
.u-margin-right { margin-right: 1.5vw; }

.u-underline { text-decoration: underline; }
