@import "master";

$margin: (6vw - 1.6vw * 1.4) / 2;

//components

.c-channel {

  @include clearfix;

  &__avatar {
    @include square(6vw);
    float: left;
  }

  &__name {
    float: left;
    margin: $margin 0 0 $margin;
  }

  &__status {
    float: right;
    margin-top: $margin;
  }

}

.c-right-btn {
  text-align: right;
  width: 100%;
}

//states

.js-filter-output { &.is-hidden { display: none; } }
