@import "redux/styles";

@import "all/components/search-bar";

@mixin menu {
  @include grid-item(1, 5, 2, 13);
  display: flex;
}

//components

.c-form-menu, .c-view-menu {

  @include menu;

  &__confirm-text {
    margin: 0 1.5vw 0 0;
    padding: 0.5vw 0.75vw;
  }

  &__control-btn { margin-right: 1.5vw; }

  &__display-box { display: flex; }

  &__toggle-btn { margin-left: 1.5vw; }

};

.c-list-body {

  @include grid-item(2, 5, 4, 13);

  &__col {
    &--10 { width: 10%; }
    &--80 { width: 80%; }
    &--90 { width: 90%; }
  }

  &__scroll-view {
    @include scroll-box(60vw);
    overflow-x: hidden;
    padding-right: 4.5vw;
  }

  &__table {
    border-spacing: 1.5vw;
    margin: -1.5vw;
  }

}

.c-list-menu {

  @include menu;

  &__search {
    flex: 1;
    margin-right: 3vw;
  }

  &__sort { margin-right: 1.5vw; }

}

.c-poll-display {

  @include grid-item(2, 5, 3, 13);

  &--tall { @include grid-item(2, 5, 4, 13); }

  &__empty { text-anchor: middle; }

  &__input {
    @include font-head;
    font-size: 2.8vw;
    text-align: center;
  }

  &__tooltip {
    background: rgba(0, 0, 0, 0.75);
    display: none;
    padding: 1.5vw;
    position: absolute;
    text-align: left;
    width: 18vw;
  }

}

.c-poll-options {

  @include grid-item(3, 5, 4, 13);

  &__color-box {
    @include square(1.6vw);
    margin-right: 0.75vw;
    position: relative;
    top: 0.32vw;
  }

  &__input-box { display: flex; }

  &__input { flex: 11; }

  &__layout { display: flex; }

  &__option { display: inline; }

  &__remove {
    @include square(1.6vw);
    display: inline-block;
    margin-right: 0.75vw;
  }

  &__submit { flex: 1; }

}

.c-sidebar { @include grid-item(1, 1, 4, 5); }

//states

.js-toggle-hover { &.is-hovered { fill: white; } };

.js-toggle-tooltip { &.is-open { display: block; } };

//utilities

.u-margin-half--negative { margin-bottom: -1.5vw; }
