@mixin modal($z-index) {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-index;
}

//components

.c-modal-hide { overflow-y: scroll; }

.c-modal-show {

  &__shadow {
    @include modal(100);
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    opacity: 0;
  }

  &__window {
    @include modal(101);
    top: 100vh;
  }

}

//states

.js-fade-modal { &.is-open { display: block; } }
.js-hide-modal { &.is-open { overflow: hidden; } }
.js-show-modal { &.is-open { overflow-y: scroll; } }

//utilities

.u-inset-modal { margin: 9vw auto; }
.u-inset-modal-deep { margin: 18vw auto; }
