@import "d3-projects/master";
@import "master";

//components

.c-node { preserveAspectRatio: none; }

.c-toggle-btn {
  display: block;
  padding: 0.5vw 0;
  position: absolute;
  width: 9vw;
}

//states

.js-ref-data { &.is-active { stroke: red; } }
