@import "d3/styles";

//components

.c-node { preserveAspectRatio: none; }

.c-toggle-btn {
  display: block;
  position: absolute;
  width: 10vw;
}

//states

.js-ref-data { &.is-active { stroke: red; } }
