@import "master";

@import "components/modal";

//components

.c-iframe-viewer {

  @supports (-webkit-overflow-scrolling: touch) {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }

  height: calc(100vh - 9vw);
  max-height: 90vw;
  width: 100%;
  &__iframe { @include square(100%); }

}

.c-search-bar {

  display: flex;
  outline-offset: -1px;

  &__input {
    padding-right: 0;
    &:focus { outline: none; } //parent receives focus
  }

  &__submit {
    cursor: pointer;
    padding-right: 1vw;
    &:focus { outline: none; }
  }

}

.c-search-result {
  &__block {
    border-left: 0.4vw solid white;
    margin: 0;
    padding-left: 3vw;
  }
}
