@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css";

@import "all/styles";

//components

.c-campers {

  height: calc(100vh - 9vw);
  max-height: 60vw;
  overflow-y: scroll;
  padding-right: 4.5vw;

  &__avatar { @include square(4.5vw); }

  &__col {
    &--2 { width: 100% * 2 / 12; }
    &--4 { width: 100% * 4 / 12; }
  }

  &__table {
    border-spacing: 0 1.5vw;
    width: 100%;
  }

}
