@import "master";

@import "d3-projects/master";

@mixin path-color($color) {
  fill: $color;
  stroke: $color;
}

//components

.c-chart { touch-action: manipulation; }

.c-land {
  &--back { @include path-color(lightgray); }
  &--front { @include path-color(white); }
}

.c-point { @include path-color(black); }

.c-rotate {

  @include basic-grid(3);
  @include square(7.5vw);
  position: absolute;

  &__btn {
    @include centered;
    cursor: pointer;
  }

}

//states

.js-ref-data { &.is-active { @include path-color(red); } }
