@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css";

@import "all/styles";

@import "all/components/accordion";
@import "all/components/cookie-banner";
@import "all/components/legal-stuff";

@mixin layer {
  @include square(100%);
  position: absolute;
  top: 0;
}

@mixin nav-item {
  @include heading(2.8vw);
  display: block;
  padding: 1.5vw 0;
  text-align: center;
}

@mixin swipe-btn {
  position: absolute;
  width: 3.2vw;
  z-index: 1;
}

@mixin wide-btn {
  padding: 1vw 0;
  width: 100%;
}

//components

.c-btn-set {
  display: flex;
  &__btn { @include wide-btn; }
  &__link { flex: 1; }
}

.c-media-icons {
  &__icon {
    float: right;
    margin-left: 3vw;
  }
}

.c-nav-bar {

  overflow: visible; //fixes webkit issue
  padding: 0 4.5vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3; //overlaps project previews

  &__expand {
    background: rgba(0, 0, 0, 0.75);
    display: none;
    padding: 0;
    position: absolute;
    width: 18vw;
  }

  &__item {

    &--flex {
      @include nav-item;
      flex: 1;
    }

    &--sublist { @include nav-item; }

    &--toggle {
      @include nav-item;
      width: 18vw;
    }

  }

  &__list {
    display: flex;
    padding-left: 0;
  }

  &__rule { margin: 1.5vw 4.5vw; }

}

.c-preview {

  align-items: center;
  display: flex;
  height: 30vw; //prevents collapse
  position: relative;

  &__swipe {

    &--left {
      @include swipe-btn;
      left: 3vw;
    }

    &--right {
      @include swipe-btn;
      right: 3vw;
    }

  }

}

.c-wide-btn { @include wide-btn; }

//states

.js-expand-sublist { &.is-open { display: block; } }

//utilities

.u-padding-left { padding-left: 1.5vw; }
