@import "master";

@import "components/accordion";
@import "components/cookie-banner";

@mixin layer {
  @include square(100%);
  position: absolute;
  top: 0;
}

@mixin nav-item {
  @include heading(2.8vw);
  display: block;
  padding: 1.5vw 0;
  text-align: center;
}

@mixin swipe-btn($x, $y) {
  @include square(3vw);
  position: absolute;
  top: 50%;
  transform: translate($x, $y);
  z-index: 2;
}

@mixin wide-btn {
  padding: 1vw 0;
  width: 100%;
}

//components

.c-btn-set {

  display: flex;

  &__btn { @include wide-btn; }

  &__link {

    flex: 1;

    &--first {
      flex: 1;
      margin-right: 1.5vw;
    }

  }

}

.c-footer {

  padding: 0 4.5vw;

  &__link {
    display: inline-block;
    margin: 1.5vw 0;
  }

}

.c-media-icons {
  &__icon {
    float: right;
    margin-left: 3vw;
  }
}

.c-nav-bar {

  overflow: visible; //fixes webkit issue
  padding: 0 4.5vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3; //overlaps project previews

  &__expand {
    background: rgba(0, 0, 0, 0.75);
    display: none;
    padding: 0;
    position: fixed;
    width: 18vw;
  }

  &__item {

    &--flex {
      @include nav-item;
      flex: 1;
    }

    &--sublist {
      @include nav-item;
    }

    &--toggle {
      @include nav-item;
      width: 18vw;
    }

  }

  &__list {
    display: flex;
    padding-left: 0;
  }

  &__rule { margin: 1.5vw 4.5vw; }

}

.c-preview {

  padding-top: 100% * 9 / 16;
  position: relative;

  &__layer {

    @include layer;

    &--top {
      @include layer;
      z-index: 1;
    }

  }

  &__swipe-btn {

    &--left {
      @include swipe-btn(50%, -50%);
    }

    &--right {
      @include swipe-btn(-50%, -50%);
      right: 0;
    }

  }

}

.c-wide-btn { @include wide-btn; }

//states

.js-expand-sublist { &.is-open { display: block; } }

//utilities

.u-padding-left { padding-left: 1.5vw; }
