@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

@import "all/styles";

@import "all/components/accordion";
@import "all/components/modal";

//components

.c-edit-btns {

  display: flex;

  &__btn { margin-right: 1.5vw; }

  &__text {
    margin: 0 1.5vw 0 0;
    padding: 0.5vw 0.75vw;
  }

}

.c-modal-btn {
  float: right;
  margin-left: 1.5vw;
}
