@import "master";

@import "components/modal";

@mixin option {
  cursor: pointer;
  flex: 1;
  padding: 0 3vw;
}

//components

.c-board {

  @include basic-grid(3);
  height: 45vw - 9vw;

  &__cell {
    @include centered;
    @include heading(3.2vw);
    border-bottom: 0.4vw solid white;
    border-right: 0.4vw solid white;
    padding: 0;
  }

}

.c-options {

  display: flex;

  &__option {

    &--left {
      @include option;
      border-right: 1px solid white;
      margin-right: 3vw;
    }

    &--right {
      @include option;
      border-left: 1px solid white;
    }

  }

}

//states

.js-click-cell { &.is-empty { cursor: pointer; } }
