@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css";

@import "all/styles";

@import "all/components/cookie-banner";
@import "all/components/legal-stuff";

@import "redux/components/auth-buttons";
@import "redux/components/error-message";
@import "redux/components/nav-bar";

@mixin grid {
  display: grid;
  grid-gap: 4.5vw;
  grid-template-columns: repeat(12, 1fr);
}

@mixin grid-item($rs, $cs, $re, $ce) {
  background: rgba(0, 0, 0, 0.75);
  grid-area: #{$rs} / #{$cs} / #{$re} / #{$ce};
  overflow: hidden;
  padding: 3vw 4.5vw;
}

//components

.c-ui {
  @include grid;
  margin: 4.5vw auto;
  width: 91%;
}

//states

.js-loading-state { &.is-loading { cursor: wait; } }

//utilities

.u-flex-right { margin-left: auto !important; }

.u-margin-none { margin: 0 !important; }
.u-margin-right { margin-right: 1.5vw !important; }
