@import "all/styles";

@import "all/components/cookie-banner";
@import "all/components/legal-stuff";

@import "redux/components/auth-buttons";
@import "redux/components/error-message";
@import "redux/components/nav-bar";

//states

.js-loading-state { &.is-loading { cursor: wait; } }

//utilities

.u-flex-right { margin-left: auto !important; }

.u-margin-none { margin: 0 !important; }
.u-margin-right { margin-right: 1.5vw !important; }
